node_modules/
/family-tree.ged
/.plainroots-import/
*.png
print-report*.html
*.print-report*.html
index.ancestry*.html
index.descendants*.html
index.blood-relatives*.html
index.ancestors*.html
index*.highlight-missing*.html
people/*/card.highlight-missing*.html
*.log
